

.navbar {
    width: 100%;
    height: 64px;
    padding: 0 48px;
    box-sizing: border-box;

    background-color: #4f4979;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);

    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.navbar-name {
    display: flex;
    gap: 14px;
}

.navbar nav {
    grid-column: 1/2;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 30px;
    
    list-style: none;
    margin: 0;
    padding: 0;
}


.navbar a {
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: color 0.2s, transform 0.1s;
}

.navbar a:hover {
    color: #1a9eff;
    transform: scale(1.1);
}