/*  
 * Border radius and styles for common reuse 
 */


/*** BORDER RADIUS ***/
/* Border radius for forms, cards and ect*/

/*** BORDER STYLES ***/
.primary-border {
  border: 2px solid var(--color-primary); 
  border-radius: var(--border-radius-md);
}
.secondary-border {
  border: 1px solid var(--border-default);
  border-radius: var(--border-radius-sm);
}

/*** BORDER HOVERS ***/
.accent-hoover:hover {
  border: 1px solid var(--color-accent);
}
.accent-focus:focus {
  outline: none;
  border: 1px solid var(--color-accent);
  box-shadow: 0 0 0 2px var(--color-accent);
}