.bright-font-hoover {
    color: var(--text-bright);    
    transition: color 0.2s, transform 0.1s;
}
.bright-font-hoover:hover {
    color: var(--color-accent);
    transform: scale(1.1);
}

.bright-bg-hoover {
    background-color: var(--text-bright);    
    transition: background-color 0.2s, transform 0.1s;
}
.bright-bg-hoover:hover {
    background-color: var(--color-accent);
}

