/*
 * Styles for common components
 */



 /*
  * Form classes
  */

.form {
    min-width: 300px;

    padding: 20px 60px 50px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; 
    gap: 30px;
}

.form h2 {
    margin: 0px;
}

.fields {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 7px;
    
    width: 100%;

}


/*
 * Buttons
 */

/* General button */
.button {
    background-color: var(--color-primary);
    color: white;

    font-size: xx-small;
    font-weight: 600;

    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    border: none;

    transition: all 0.1s ease;
}

.button:active {
    transform: scale(0.97);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

.button:hover {
    border: 1px solid var(--color-accent);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

/* Submit button */
.submit-button {
    border-radius: 20px;
    width: 100%;
    height: 40px;
}