/*
 * Styles for common components
 */



 /*
  * Form classes
  */

.form {
    font-family: inherit;

    background-color: #d9d9d9;

    border-radius: 10px;
    border: 2px solid #4f4979;

    padding: 20px 60px 50px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
    gap: 30px;
    
    min-width: 300px; 
    
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);

    
}

.fields {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 7px;
    
    width: 100%;

}


/*
 * Buttons
 */

/* General button */
.button {
    background-color: #4f4979;
    color: white;

    font-size: xx-small;
    font-weight: 600;

    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    border: none;

    transition: all 0.1s ease;
}

.button:active {
    transform: scale(0.97);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

.button:hover {
    box-shadow: 0 0 0 1px #1a9eff;
}

/* Submit button */
.submit-button {
    border-radius: 20px;
    width: 100%;
    height: 40px;
}