/*
 * Styles for common components
 */

.form {
    font-family: inherit;

    background-color: #d9d9d9;

    border-radius: 10px;
    border: 2px solid #4f4979;

    padding: 20px 60px 50px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
    gap: 30px;
    
    width: 300px; 
    
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);

    
}

.fields {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 7px;
    
    width: 100%;

}

.field{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.field-name{
    color: #4f4979;
    font-size:xx-small;
    font-weight:600;
}
.field-input{
    border-radius: 7px;
    height: 48px;
    border: 1px solid black;
    padding-left: 15px;

    font-size: x-small;
    font-weight: 500;

    box-sizing: border-box;
    width: 100%;
    
}

.field-input::placeholder {
    color:#c7c7c7;
    font-weight: 600;
}

.field-input:hover {
    border: 1px solid #1a9eff;
}

.field-input:focus {
    outline: none;
    border: 3px solid #1a9eff;
}

.button {
    background-color: #4f4979;
    border-radius: 20px;
    color: white;

    font-size: xx-small;
    font-weight: 600;
    width: 100%;
    height: 40px;

    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    border: none;

    transition: all 0.1s ease;
}

.button:active {
    transform: scale(0.97);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}