/*
 * Styles for common components
 */



 /*
  * Form classes
  */

.form {
    min-width: 300px;
    background-color: var(--bg-from);
    box-shadow: var(--shadow-lg);

    padding: 20px 60px 50px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; 
    gap: 30px;
}

.form h2 {
    margin: 0px;
}

.fields {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 7px;
    
    width: 100%;
}

.submit-button {
    border-radius: 20px;
    width: 100%;
    height: 40px;
}