
body {
    font-family: 'Instrument Sans', sans-serif;
}

h2 {
    margin: 0px;
}

.page {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    
    background-color: #fff; 
}