#root {
  margin: 0 auto;
  text-align: center;
}

body {
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
}

* {
  font-family: inherit;
}

h2 {
    margin: 0px;
}

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    min-height: 100vh;
    
    background-color: #fff; 
    box-sizing: border-box;
}

.content {

  margin-top: 24px;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
