.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    min-height: 100vh;
    
    background-color: var(--bg-page); 
    box-sizing: border-box;
}

.content {
  padding: 24px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  gap: 24px;
}

.content-box {

  background-color: var(--bg-from); 
  
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2); 
}

.toast {
  font-family: inherit !important;
  font-size: small !important;
  font-weight: 600 !important;

  border: 1px solid var(--color-primary) !important;
  /* color: var(--color-primary) !important; */
}