.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    min-height: 100vh;
    
    background-color: var(--bg-page); 
    box-sizing: border-box;
}

.content {
  margin-top: 24px;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
