:root {

  /*** COLORS ***/

  /* Palette colors */
  --palette-purple: #4f4979;
  --palette-blue: #1a9eff;
  --palette-red: #d63031;
  --palette-black: black;
  --palette-darker-grey: #c7c7c7;
  --palette-lighter-grey: #d9d9d9;
  --palette-white: white;

  /* Color semantics */
  --color-primary: var(--palette-purple);
  --color-accent: var(--palette-blue);
  --color-danger: var(--palette-red);

  --bg-from: var(--palette-lighter-grey);
  --bg-page: var(--palette-white);
  --bg-surface: var(--palette-white);

  --border-default: var(--palette-black);

  --text-main: var(--palette-black);
  --text-secondary: var(--palette-purple);
  --text-bright: var(--palette-white);
  --text-placeholder: var(--palette-darker-grey);


  /*** BORDERS ***/
  --border-radius-md: 10px;
  --border-radius-sm: 7px;

  /*** SHADOWS ***/
  --shadow-lg: 0px 10px 10px rgba(0,0,0,0.2);
  --shadow-md: 0px 5px 10px rgba(0,0,0,0.4);
  --shadow-btn-hover: 0px 3px 10px rgba(0,0,0,0.4);
  --shadow-btn-active: 0px 1px 10px rgba(0,0,0,0.4);
}


*, *::before, *::after {
  font-family: inherit;
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Instrument Sans', sans-serif;
}

  